$fa-font-path: "../fonts" !default;
@import "../../node_modules/font-awesome/scss/font-awesome";

$base-font: 1em;
$font-large: $base-font * 1.5;
$font-small: $base-font * .8;

sup {
  top: -0.22em;
}
